c21-jerry--/auto/flow/auto.0519.flow.json
[{"id":"9842d32e.19d35","type":"tab","label":"auto","disabled":false,"info":""},{"id":"312fcd92.47af12","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":140,"wires":[]},{"id":"ec03ebce.b3c378","type":"inject","z":"9842d32e.19d35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["f5bbd07b.7f876","a06ce839.4462b8","fe8bdbad.621688","451b9fb.789dc6"]]},{"id":"fa1f7459.bfe908","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"ioc://-530211197","topicType":"str","name":"tg comm","x":640,"y":180,"wires":[["312fcd92.47af12"],["312fcd92.47af12"]]},{"id":"a06ce839.4462b8","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"type\":\"message\",\"content\":\"auto://on\",\"from\":\"pinponboy\"}","payloadType":"json","x":460,"y":180,"wires":[["fa1f7459.bfe908"]]},{"id":"f5bbd07b.7f876","type":"set","z":"9842d32e.19d35","name":"","EiName":"autocenter","EiTag":"","EiLoc":"","x":630,"y":100,"wires":[["312fcd92.47af12"],["312fcd92.47af12"]]},{"id":"704fe35d.65ab8c","type":"inject","z":"9842d32e.19d35","name":"00:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["a06ce839.4462b8"]]},{"id":"d168e9b2.852f88","type":"onEvent","z":"9842d32e.19d35","event":"message","name":"onEvent","x":140,"y":380,"wires":[["510ead7c.b577b4","20bc941b.dd33ac"]]},{"id":"510ead7c.b577b4","type":"retEvent","z":"9842d32e.19d35","name":"retEvent","x":460,"y":380,"wires":[]},{"id":"84f8e409.b8c8d8","type":"inject","z":"9842d32e.19d35","name":"8:50","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":200,"wires":[["a06ce839.4462b8"]]},{"id":"1f22f5a4.42e09a","type":"inject","z":"9842d32e.19d35","name":"11:50","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 11 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["a06ce839.4462b8"]]},{"id":"57496c04.aa3f04","type":"inject","z":"9842d32e.19d35","name":"18:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["a06ce839.4462b8"]]},{"id":"20c3358c.77c74a","type":"debug","z":"9842d32e.19d35","name":"tg msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":500,"wires":[]},{"id":"58d55f65.236cc","type":"function","z":"9842d32e.19d35","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getSeconds();\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"0\" + second;\n}\n\nmsg.topic=\"odoo://portal\";\nmsg.payload={\n    \"type\": \"log\",\n    \"model\": \"x_auto\",\n    \"fun\": \"create\",\n    \"data\": {\n        \"x_fm\":`ss://${msg.inctl.From.Name}`,\n        \"x_message\":`${msg.inctl.From.Name}.ss on`,\n        \"x_name\":`${msg.inctl.From.Name}.ss`,\n        \"x_time\":`${year}-${month}-${date} ${hour}:${min}:${second}`,\n        \"x_to\":\"auto://center\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":120,"wires":[["921ac0be.fd7ec"]]},{"id":"e83ee30b.1ef","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":120,"wires":[]},{"id":"b25c8605.bc67b8","type":"function","z":"9842d32e.19d35","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nmsg.payload = {\n    \"content\":`ID:PB${year}${month}${date}${hour}${min}-${second}\\nFm:ss://${msg.data.place}\\nTo:auto://\\nRst:\\n${msg.inctl.From.Name}.ss on `,\n    \"type\":\"message\",\n    \"from\":\"pinponboy\"\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":500,"wires":[["bbbc4f69.ab9ef"]]},{"id":"bbbc4f69.ab9ef","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-530211197","topicType":"str","name":"tg comm","x":860,"y":500,"wires":[["20c3358c.77c74a"],["20c3358c.77c74a"]]},{"id":"921ac0be.fd7ec","type":"send","z":"9842d32e.19d35","DDN":">>portal","DDNType":"str","topic":"topic","topicType":"msg","name":"call odoo_portal","x":1410,"y":120,"wires":[["e83ee30b.1ef"],["e83ee30b.1ef"]]},{"id":"a4ac983b.6d3af8","type":"function","z":"9842d32e.19d35","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getSeconds();\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"0\" + second;\n}\n\nmsg.topic=\"odoo://portal\";\nmsg.payload={\n    \"type\": \"log\",\n    \"model\": \"auto\",\n    \"fun\": \"create\",\n    \"data\": {\n        \"fm\":`ss://${msg.data.place}`,\n        \"message\":`${msg.inctl.From.Name}.ss on`,\n        \"name\":`${msg.inctl.From.Name}.ss`,\n        \"time\":`${year}-${month}-${date} ${hour}:${min}:${second}`,\n        \"to\":\"auto://center\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":460,"wires":[["923b340e.7064e8"]]},{"id":"3196b6b1.6350ba","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":460,"wires":[]},{"id":"923b340e.7064e8","type":"send","z":"9842d32e.19d35","DDN":">>portal","DDNType":"str","topic":"topic","topicType":"msg","name":"call  new odoo_portal","x":900,"y":460,"wires":[["3196b6b1.6350ba"],["3196b6b1.6350ba"]]},{"id":"24fde990.2a7be6","type":"function","z":"9842d32e.19d35","name":"to tg","func":"p=msg.payload[0];\nmsg.payload = {\n    \"content\":\"EiName:\"+p.Reply.result.EiName+\",EIMMA:\"+p.Reply.result.EiMMA+\",DDN:\"+p.Reply.result.DDN,\n    \"type\":\"message\",\n    \"from\":\"pinponboy\"\n};\nmsg.uid = p.Reply.result.Uid;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":280,"wires":[["adb09c4.43c9e6"]]},{"id":"f6f17c56.b6607","type":"debug","z":"9842d32e.19d35","name":"send msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":280,"wires":[]},{"id":"35688676.51f37a","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"7d8af57c.a9523c","type":"send","z":"9842d32e.19d35","DDN":">>sys","DDNType":"str","topic":"in://local","topicType":"str","name":"send","x":770,"y":280,"wires":[["24fde990.2a7be6","35688676.51f37a"],["24fde990.2a7be6"]]},{"id":"adb09c4.43c9e6","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-535096624","topicType":"str","name":"send","x":1150,"y":280,"wires":[["f6f17c56.b6607"],["f6f17c56.b6607"]]},{"id":"27df6317.0453ec","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"whois\"}","payloadType":"json","x":600,"y":280,"wires":[["7d8af57c.a9523c"]]},{"id":"80753a26.f5dfa8","type":"function","z":"9842d32e.19d35","name":"","func":"{\n  msg.data=JSON.parse(msg.data);\n return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":180,"wires":[["217b0e14.715af2"]]},{"id":"217b0e14.715af2","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":180,"wires":[]},{"id":"b3cf67fc.2122a8","type":"comment","z":"9842d32e.19d35","name":"","info":"","x":1220,"y":60,"wires":[]},{"id":"d6628296.9ce42","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"ioc://-535096624","topicType":"str","name":"send","x":630,"y":220,"wires":[["35688676.51f37a"],["35688676.51f37a"]]},{"id":"fe8bdbad.621688","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"type\":\"message\",\"content\":\"auto://on\",\"from\":\"pinponboy\"}","payloadType":"json","x":460,"y":220,"wires":[["d6628296.9ce42"]]},{"id":"451b9fb.789dc6","type":"delay","z":"9842d32e.19d35","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":280,"wires":[["27df6317.0453ec"]]},{"id":"3bf77971.835bd6","type":"function","z":"9842d32e.19d35","name":"to tg","func":"p=msg.payload[0];\nmsg.payload = {\n    \"content\":\"EiName:\"+p.Reply.result.EiName+\",EIMMA:\"+p.Reply.result.EiMMA+\",DDN:\"+p.Reply.result.DDN,\n    \"type\":\"message\",\n    \"from\":\"pinponboy\"\n};\nmsg.uid = p.Reply.result.Uid;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":640,"wires":[["7d4fa054.0a46a"]]},{"id":"1d58b3fc.e26b9c","type":"debug","z":"9842d32e.19d35","name":"send msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1640,"y":640,"wires":[]},{"id":"49d4f2df.ac810c","type":"send","z":"9842d32e.19d35","DDN":">>sys","DDNType":"str","topic":"in://local","topicType":"str","name":"send","x":1090,"y":640,"wires":[["3bf77971.835bd6"],["3bf77971.835bd6"]]},{"id":"7d4fa054.0a46a","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-535096624","topicType":"str","name":"send","x":1450,"y":640,"wires":[["1d58b3fc.e26b9c"],["1d58b3fc.e26b9c"]]},{"id":"bd49ab13.e87de8","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"whois\"}","payloadType":"json","x":860,"y":640,"wires":[["49d4f2df.ac810c"]]},{"id":"38d9edf2.863342","type":"delay","z":"9842d32e.19d35","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":640,"wires":[["bd49ab13.e87de8"]]},{"id":"46397d93.443cd4","type":"debug","z":"9842d32e.19d35","name":"tg msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":580,"wires":[]},{"id":"fcef91c3.2d7a2","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-535096624","topicType":"str","name":"tg comm","x":860,"y":580,"wires":[["46397d93.443cd4"],["46397d93.443cd4"]]},{"id":"20bc941b.dd33ac","type":"function","z":"9842d32e.19d35","name":"","func":"msg.data=JSON.parse(msg.data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["a4ac983b.6d3af8","b25c8605.bc67b8","aae7bfde.a49ed","38d9edf2.863342","3d3495ef.db0c6a"]]},{"id":"aae7bfde.a49ed","type":"function","z":"9842d32e.19d35","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nmsg.payload = {\n    \"content\":`ID:PB${year}${month}${date}${hour}${min}-${second}\\nFm:ss://${msg.data.place}\\nTo:auto://\\nRst:\\n${msg.inctl.From.Name}.ss on `,\n    \"type\":\"message\",\n    \"from\":\"pinponboy\"\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":580,"wires":[["fcef91c3.2d7a2"]]},{"id":"a1a4a3b5.2b879","type":"send","z":"9842d32e.19d35","DDN":">>qtXfGhMg","DDNType":"str","topic":"topic","topicType":"str","name":"send","x":530,"y":740,"wires":[["8552f064.7b3ce"],["8552f064.7b3ce"]]},{"id":"8552f064.7b3ce","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":740,"wires":[]},{"id":"3d3495ef.db0c6a","type":"function","z":"9842d32e.19d35","name":"","func":"msg.payload=msg.data ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":740,"wires":[["a1a4a3b5.2b879"]]}]