c21-jerry--/auto/flow/pd.0519.flow.json
[{"id":"9842d32e.19d35","type":"tab","label":"pd","disabled":false,"info":""},{"id":"312fcd92.47af12","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"ec03ebce.b3c378","type":"inject","z":"9842d32e.19d35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["f5bbd07b.7f876","a06ce839.4462b8","ace50530.63eda8"]]},{"id":"fa1f7459.bfe908","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"ioc://-535096624","topicType":"str","name":"tg comm","x":640,"y":120,"wires":[["312fcd92.47af12"],["312fcd92.47af12"]]},{"id":"a06ce839.4462b8","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"type\":\"message\",\"content\":\"pd://on\",\"from\":\"pinponboy\"}","payloadType":"json","x":460,"y":120,"wires":[["fa1f7459.bfe908"]]},{"id":"f5bbd07b.7f876","type":"set","z":"9842d32e.19d35","name":"","EiName":"pd","EiTag":"","EiLoc":"","x":630,"y":40,"wires":[["312fcd92.47af12"],["312fcd92.47af12"]]},{"id":"704fe35d.65ab8c","type":"inject","z":"9842d32e.19d35","name":"00:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["a06ce839.4462b8"]]},{"id":"84f8e409.b8c8d8","type":"inject","z":"9842d32e.19d35","name":"8:50","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["a06ce839.4462b8"]]},{"id":"1f22f5a4.42e09a","type":"inject","z":"9842d32e.19d35","name":"11:50","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 11 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["a06ce839.4462b8"]]},{"id":"57496c04.aa3f04","type":"inject","z":"9842d32e.19d35","name":"18:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["a06ce839.4462b8"]]},{"id":"4d668c42.97b004","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":1000,"wires":[]},{"id":"bd0beb07.e83208","type":"switch","z":"9842d32e.19d35","name":"","property":"data.name","propertyType":"msg","rules":[{"t":"eq","v":"jerry","vt":"str"},{"t":"eq","v":"A00","vt":"str"},{"t":"eq","v":"A01","vt":"str"},{"t":"eq","v":"A03","vt":"str"},{"t":"eq","v":"A05","vt":"str"},{"t":"eq","v":"B03","vt":"str"},{"t":"eq","v":"cmain-5c04","vt":"str"},{"t":"eq","v":"cmain-meet","vt":"str"},{"t":"eq","v":"ykiosk-main","vt":"str"},{"t":"eq","v":"ymain-main","vt":"str"},{"t":"eq","v":"j-main","vt":"str"},{"t":"eq","v":"ebike.main","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":350,"y":660,"wires":[["48dff831.d01ea8"],["ddbba156.76a4a"],["d1e66f62.da444"],["9f26eb27.571f28"],["2f4a88c3.e50cf8"],["b1c2d403.ac1cd8"],["16be740.c67d38c"],["df8316de.757848"],["35681dd7.cb9ec2"],["ee7cbffe.79cc7"],["c1fc2054.714aa"],["dd0c75b0.7bc378"]]},{"id":"ddbba156.76a4a","type":"link out","z":"9842d32e.19d35","name":"","links":["812b1da6.9b86b","89a63b32.720d68"],"x":635,"y":480,"wires":[]},{"id":"d1e66f62.da444","type":"link out","z":"9842d32e.19d35","name":"","links":["f23665f3.c9fd38","85f30782.a22bf8","f0ca092c.4b8438"],"x":635,"y":520,"wires":[]},{"id":"9f26eb27.571f28","type":"link out","z":"9842d32e.19d35","name":"","links":["d84713cc.d01dc","fa75e6be.909628","d63b9793.3132c8"],"x":635,"y":560,"wires":[]},{"id":"2f4a88c3.e50cf8","type":"link out","z":"9842d32e.19d35","name":"","links":["d41f3cb4.8b46e","9a929bca.8df778","e115138f.e827e"],"x":635,"y":600,"wires":[]},{"id":"b1c2d403.ac1cd8","type":"link out","z":"9842d32e.19d35","name":"","links":["e8468a69.7d4808","9b919b7b.f2b838","edfc037c.f7d0c","905c86ee.0b7c08"],"x":635,"y":640,"wires":[]},{"id":"16be740.c67d38c","type":"link out","z":"9842d32e.19d35","name":"","links":["5c38e089.b5329","ad5d2b62.ba0f38"],"x":635,"y":680,"wires":[]},{"id":"df8316de.757848","type":"link out","z":"9842d32e.19d35","name":"","links":["b53844e3.667a18","4491e915.15c1a8"],"x":635,"y":720,"wires":[]},{"id":"35681dd7.cb9ec2","type":"link out","z":"9842d32e.19d35","name":"","links":["f5432bb1.f789d8","75e8eaa5.bb50d4"],"x":635,"y":760,"wires":[]},{"id":"48dff831.d01ea8","type":"link out","z":"9842d32e.19d35","name":"","links":["59976be7.364844"],"x":635,"y":440,"wires":[]},{"id":"59976be7.364844","type":"link in","z":"9842d32e.19d35","name":"","links":["48dff831.d01ea8"],"x":135,"y":1000,"wires":[["4cfd191f.1ec3c8","ba26fed7.b3cb2"]]},{"id":"ee7cbffe.79cc7","type":"link out","z":"9842d32e.19d35","name":"","links":["3c2a900b.f6812","5aea5665.fcebb8"],"x":635,"y":800,"wires":[]},{"id":"c1fc2054.714aa","type":"link out","z":"9842d32e.19d35","name":"","links":["1e295978.52c427","150411ad.0cf01e"],"x":635,"y":840,"wires":[]},{"id":"d4b56f5e.0df7","type":"send","z":"9842d32e.19d35","DDN":">>iC6dZTB6","DDNType":"str","topic":"topic","topicType":"str","name":"send-Jerry.SS","x":500,"y":1000,"wires":[["4d668c42.97b004"],["4d668c42.97b004"]]},{"id":"ba77b589.e63228","type":"delay","z":"9842d32e.19d35","name":"","pauseType":"delay","timeout":"155","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1080,"wires":[["96a0d4a.af03f28","66651ee1.6e5d3"]]},{"id":"89a63b32.720d68","type":"link in","z":"9842d32e.19d35","name":"","links":["1d7a9774.a970e9","ddbba156.76a4a"],"x":135,"y":1180,"wires":[["64438b8c.a54ff4","5aef1bf6.be2524"]]},{"id":"ef72266c.9b7ff8","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":1180,"wires":[]},{"id":"f0ca092c.4b8438","type":"link in","z":"9842d32e.19d35","name":"","links":["a1d0b581.b1ef28","d1e66f62.da444"],"x":135,"y":1360,"wires":[["9d6d6704.8e8d98","72f4d24e.9f6fec"]]},{"id":"d63b9793.3132c8","type":"link in","z":"9842d32e.19d35","name":"","links":["354a9c6.af4a264","9f26eb27.571f28"],"x":135,"y":1460,"wires":[["b0d54694.46d808","d10a15f2.528698"]]},{"id":"e115138f.e827e","type":"link in","z":"9842d32e.19d35","name":"","links":["60b008a.ff4b5f8","2f4a88c3.e50cf8"],"x":135,"y":1560,"wires":[["7b3b1eaa.fb90d","3dedf33c.e8dc9c"]]},{"id":"9bd387e.1d92578","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":1360,"wires":[]},{"id":"f15c6833.f712b8","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":1460,"wires":[]},{"id":"17cd71df.40ee3e","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":1560,"wires":[]},{"id":"905c86ee.0b7c08","type":"link in","z":"9842d32e.19d35","name":"","links":["17f012ff.f1d94d","b1c2d403.ac1cd8"],"x":135,"y":1660,"wires":[["aef11011.19f72","5883ef69.707bc"]]},{"id":"af976250.5e15b","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":1660,"wires":[]},{"id":"b3f9f118.b01ae","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":1760,"wires":[]},{"id":"ad5d2b62.ba0f38","type":"link in","z":"9842d32e.19d35","name":"","links":["48f1f2c0.12a9fc","16be740.c67d38c"],"x":135,"y":1760,"wires":[["9f4f6d66.4f649","1a88f500.b32b1b"]]},{"id":"63e18cfb.26d264","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":1860,"wires":[]},{"id":"4491e915.15c1a8","type":"link in","z":"9842d32e.19d35","name":"","links":["ed9788d5.cb0a98","df8316de.757848"],"x":135,"y":1860,"wires":[["39da5a2d.46f206","289824d5.fda45c"]]},{"id":"75e8eaa5.bb50d4","type":"link in","z":"9842d32e.19d35","name":"","links":["57561ad2.075874","35681dd7.cb9ec2"],"x":135,"y":1960,"wires":[["f12d131.648e8f","dbb083d3.64e57"]]},{"id":"9497f74c.4940b8","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":1960,"wires":[]},{"id":"fcd67e3b.55501","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":2060,"wires":[]},{"id":"5aea5665.fcebb8","type":"link in","z":"9842d32e.19d35","name":"","links":["ee7cbffe.79cc7"],"x":135,"y":2060,"wires":[["5dafb35d.b12c3c","2a0dc758.fb5bc8"]]},{"id":"99fedc7f.eb4f7","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":2160,"wires":[]},{"id":"150411ad.0cf01e","type":"link in","z":"9842d32e.19d35","name":"","links":["c1fc2054.714aa"],"x":135,"y":2160,"wires":[["a72b19a1.6b81d8","1859092b.e6c9c7"]]},{"id":"ae1abe46.12511","type":"send","z":"9842d32e.19d35","DDN":">>SXriYuqO","DDNType":"str","topic":"topic","topicType":"str","name":"send-A00.SS","x":490,"y":1180,"wires":[["ef72266c.9b7ff8"],["ef72266c.9b7ff8"]]},{"id":"2043b937.9a5336","type":"send","z":"9842d32e.19d35","DDN":">>xAsFSnnc","DDNType":"str","topic":"topic","topicType":"str","name":"send-A01.SS","x":490,"y":1360,"wires":[["9bd387e.1d92578"],["9bd387e.1d92578"]]},{"id":"85729c16.d245e","type":"send","z":"9842d32e.19d35","DDN":">>4Wk4jZ0D","DDNType":"str","topic":"topic","topicType":"str","name":"send-A03.SS","x":490,"y":1460,"wires":[["f15c6833.f712b8"],["f15c6833.f712b8"]]},{"id":"14851564.5440db","type":"send","z":"9842d32e.19d35","DDN":">>uz0tNCBj","DDNType":"str","topic":"topic","topicType":"str","name":"send-A05.SS","x":490,"y":1560,"wires":[["17cd71df.40ee3e"],["17cd71df.40ee3e"]]},{"id":"201e3f64.b3df9","type":"send","z":"9842d32e.19d35","DDN":">>uyMvjdgO","DDNType":"str","topic":"topic","topicType":"str","name":"send-B03.SS","x":490,"y":1660,"wires":[["af976250.5e15b"],["af976250.5e15b"]]},{"id":"4d813af2.e69424","type":"send","z":"9842d32e.19d35","DDN":">>tGVlYQnS","DDNType":"str","topic":"topic","topicType":"str","name":"send-cmain-5c04.SS","x":520,"y":1760,"wires":[["b3f9f118.b01ae"],["b3f9f118.b01ae"]]},{"id":"e86db30b.fc92d","type":"send","z":"9842d32e.19d35","DDN":">>kzFVWVdE","DDNType":"str","topic":"topic","topicType":"str","name":"send-cmain-meet.SS","x":520,"y":1860,"wires":[["63e18cfb.26d264"],["63e18cfb.26d264"]]},{"id":"c388eacd.04db08","type":"send","z":"9842d32e.19d35","DDN":">>u2O6I1FC","DDNType":"str","topic":"topic","topicType":"str","name":"send-ykiosk-main.SS","x":520,"y":1960,"wires":[["9497f74c.4940b8"],["9497f74c.4940b8"]]},{"id":"f77c61b9.3adf1","type":"send","z":"9842d32e.19d35","DDN":">>MREqskFp","DDNType":"str","topic":"topic","topicType":"str","name":"send-ymain-main.SS","x":520,"y":2060,"wires":[["fcd67e3b.55501"],["fcd67e3b.55501"]]},{"id":"d97c0ddb.37bdc","type":"send","z":"9842d32e.19d35","DDN":">>VlMYaAvZ","DDNType":"str","topic":"topic","topicType":"str","name":"send-j-main.SS","x":500,"y":2160,"wires":[["99fedc7f.eb4f7"],["99fedc7f.eb4f7"]]},{"id":"7b3b1eaa.fb90d","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/img/system.png\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1580,"wires":[["14851564.5440db"]]},{"id":"64438b8c.a54ff4","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/img/topic.png\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 20\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1200,"wires":[["ae1abe46.12511"]]},{"id":"9d6d6704.8e8d98","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 20\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1380,"wires":[["2043b937.9a5336"]]},{"id":"b0d54694.46d808","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://git.page/jj/jboard?qname=yp-dtv\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 20\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1480,"wires":[["85729c16.d245e"]]},{"id":"9f4f6d66.4f649","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/img/system.png\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1780,"wires":[["4d813af2.e69424"]]},{"id":"39da5a2d.46f206","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/img/jujue.png\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1880,"wires":[["e86db30b.fc92d"]]},{"id":"aef11011.19f72","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://i.ibb.co/vQkKR15/mustme.jpg\"],\"duration\":\"200000\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1680,"wires":[["201e3f64.b3df9"]]},{"id":"f12d131.648e8f","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/img/topic.png\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 20\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1980,"wires":[["c388eacd.04db08"]]},{"id":"5aef1bf6.be2524","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1160,"wires":[["ae1abe46.12511"]]},{"id":"72f4d24e.9f6fec","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1340,"wires":[["2043b937.9a5336"]]},{"id":"d10a15f2.528698","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1440,"wires":[["85729c16.d245e"]]},{"id":"3dedf33c.e8dc9c","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1540,"wires":[["14851564.5440db"]]},{"id":"5883ef69.707bc","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1640,"wires":[["201e3f64.b3df9"]]},{"id":"1a88f500.b32b1b","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1740,"wires":[["4d813af2.e69424"]]},{"id":"289824d5.fda45c","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1840,"wires":[["e86db30b.fc92d"]]},{"id":"dbb083d3.64e57","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":1940,"wires":[["c388eacd.04db08"]]},{"id":"5dafb35d.b12c3c","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":2080,"wires":[["f77c61b9.3adf1"]]},{"id":"2a0dc758.fb5bc8","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":2040,"wires":[["f77c61b9.3adf1"]]},{"id":"a72b19a1.6b81d8","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://www.ypcloud.com/\"],\"duration\":\"0\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":2180,"wires":[["d97c0ddb.37bdc"]]},{"id":"1859092b.e6c9c7","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to YPCloud !!!\",\"duration\":\"60\",\"color\":\"black\",\" size\":\"3\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":2140,"wires":[["d97c0ddb.37bdc"]]},{"id":"b30b2549.2a2878","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1080,"wires":[]},{"id":"96a0d4a.af03f28","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"type\":\"photo\",\"content\":\"https://www.ypcloud.com/img/topic.png\",\"from\":\"pinponboy\"}","payloadType":"json","x":480,"y":1060,"wires":[["85846966.36d698"]]},{"id":"85846966.36d698","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-530211197","topicType":"str","name":"tg comm","x":700,"y":1080,"wires":[["b30b2549.2a2878"],["b30b2549.2a2878"]]},{"id":"66651ee1.6e5d3","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"type\":\"message\",\"content\":\"This is a screenshot from Jerry.ss.\",\"from\":\"pinponboy\"}","payloadType":"json","x":480,"y":1100,"wires":[["85846966.36d698"]]},{"id":"c5e41a46.e25b18","type":"delay","z":"9842d32e.19d35","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1260,"wires":[["7b83776e.91c6a8","270b0d7b.1398f2"]]},{"id":"961ae80.6fc0818","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1260,"wires":[]},{"id":"7b83776e.91c6a8","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"type\":\"photo\",\"content\":\"https://www.ypcloud.com/img/topic.png\",\"from\":\"pinponboy\"}","payloadType":"json","x":480,"y":1240,"wires":[["e1956527.0d7548"]]},{"id":"e1956527.0d7548","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-530211197","topicType":"str","name":"tg comm","x":700,"y":1260,"wires":[["961ae80.6fc0818"],["961ae80.6fc0818"]]},{"id":"270b0d7b.1398f2","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"type\":\"message\",\"content\":\"This is a screenshot from Jerry.ss.\",\"from\":\"pinponboy\"}","payloadType":"json","x":480,"y":1280,"wires":[["e1956527.0d7548"]]},{"id":"dd0c75b0.7bc378","type":"link out","z":"9842d32e.19d35","name":"","links":["fe57f120.7c0bf"],"x":635,"y":880,"wires":[]},{"id":"fe57f120.7c0bf","type":"link in","z":"9842d32e.19d35","name":"","links":["dd0c75b0.7bc378"],"x":715,"y":880,"wires":[["4e592f37.8bd818","b7b5bb.506f7248","3380d5bc.d0814a"]]},{"id":"a247bd19.a14ca8","type":"debug","z":"9842d32e.19d35","name":"OK msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":960,"wires":[]},{"id":"954d4ec.59f1e3","type":"send","z":"9842d32e.19d35","DDN":">>NaUFTnT1","DDNType":"str","topic":"topic","topicType":"str","name":"send-ebike.main.ss","x":1150,"y":960,"wires":[["a247bd19.a14ca8"],["a247bd19.a14ca8"]]},{"id":"4e592f37.8bd818","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to SongVale ！\",\"duration\":\"60\",\"color\":\"white\",\" size\":\"5\",\"bgcolor\":\"\"}","payloadType":"json","x":940,"y":940,"wires":[["954d4ec.59f1e3"]]},{"id":"5e369275.6b038c","type":"debug","z":"9842d32e.19d35","name":"tg msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":880,"wires":[]},{"id":"b7b5bb.506f7248","type":"function","z":"9842d32e.19d35","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nmsg.payload = {\n    \"content\":`ID:PB${year}${month}${date}${hour}${min}-${second}\\nFm:ss://${msg.data}\\nTo:auto://center\\nRst:\\n${msg.data}.ss on `,\n    \"type\":\"message\",\n    \"from\":\"pinponboy\"\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":880,"wires":[["68ddefc3.4e2208"]]},{"id":"68ddefc3.4e2208","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-574715957","topicType":"str","name":"tg comm","x":1120,"y":880,"wires":[["5e369275.6b038c"],["5e369275.6b038c"]]},{"id":"3380d5bc.d0814a","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://i.ibb.co/1bcfkRj/songvale-jpg.png\"],\"duration\":\"2000000\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":940,"y":980,"wires":[["954d4ec.59f1e3"]]},{"id":"4cfd191f.1ec3c8","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"marquee\",\"msg\":\"Welcome to SongVale ！\",\"duration\":\"60\",\"color\":\"white\",\" size\":\"5\",\"bgcolor\":\"\"}","payloadType":"json","x":300,"y":960,"wires":[["d4b56f5e.0df7"]]},{"id":"ba26fed7.b3cb2","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"drop\",\"type\":\"url\",\"src\":[\"https://doqvf81n9htmm.cloudfront.net/data/crop_article/57294/shutterstock_1247473441.jpg_1140x855.jpg\"],\"duration\":\"200000\",\"frame\":\"main\",\"animate\":\"fade\",\"aniduration\":\" 2\",\"bgcolor\":\"white\",\"pmode\":\"loop\"}","payloadType":"json","x":300,"y":1020,"wires":[["d4b56f5e.0df7"]]},{"id":"83ac2eac.7d69c","type":"onEvent","z":"9842d32e.19d35","event":"message","name":"onEvent","x":140,"y":300,"wires":[["eebaf19b.96165","bd0beb07.e83208","ace50530.63eda8"]]},{"id":"eebaf19b.96165","type":"retEvent","z":"9842d32e.19d35","name":"retEvent","ErrCode":0,"ErrMsg":"OK","x":460,"y":300,"wires":[]},{"id":"ace50530.63eda8","type":"delay","z":"9842d32e.19d35","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":380,"wires":[["5a4b07d0.e40c78"]]},{"id":"c1a406dc.7fa488","type":"send","z":"9842d32e.19d35","DDN":">>sys","DDNType":"str","topic":"in://local","topicType":"str","name":"send","x":810,"y":380,"wires":[["e665a08c.7b8b4","2e9b97b2.684528"],["e665a08c.7b8b4"]]},{"id":"e665a08c.7b8b4","type":"function","z":"9842d32e.19d35","name":"to tg","func":"p=msg.payload[0];\nmsg.payload = {\n    \"content\":\"EiName:\"+p.Reply.result.EiName+\",EIMMA:\"+p.Reply.result.EiMMA+\",DDN:\"+p.Reply.result.DDN,\n    \"type\":\"message\",\n    \"from\":\"pinponboy\"\n};\nmsg.uid = p.Reply.result.Uid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":380,"wires":[["2f91b827.3d60a8"]]},{"id":"2f91b827.3d60a8","type":"send","z":"9842d32e.19d35","DDN":">>comm","DDNType":"str","topic":"tg://-535096624","topicType":"str","name":"send","x":1110,"y":380,"wires":[["ac1b9b40.138268"],["ac1b9b40.138268"]]},{"id":"ac1b9b40.138268","type":"debug","z":"9842d32e.19d35","name":"send msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1280,"y":380,"wires":[]},{"id":"5a4b07d0.e40c78","type":"payload","z":"9842d32e.19d35","name":"","payload":"{\"cmd\":\"whois\"}","payloadType":"json","x":680,"y":380,"wires":[["c1a406dc.7fa488"]]},{"id":"2e9b97b2.684528","type":"debug","z":"9842d32e.19d35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":440,"wires":[]}]